In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("knn.csv", delimiter=',', index_col='id')

In [3]:
data

     X   Y  Class
id
1   51  43      1
2   22  87      1
3   10  55      0
4   90  17      1
5   59  65      0
6   13  44      0
7   73  50      1
8   75  24      1
9   31  19      0
10  55  93      0

In [4]:
x = pd.DataFrame(data.drop(["Class"], axis=1))

In [10]:
y = pd.DataFrame(data["Class"]).values.ravel()

In [11]:
y

array([1, 1, 0, 1, 0, 0, 1, 1, 0, 0], dtype=int64)

In [12]:
x

     X   Y
id
1   51  43
2   22  87
3   10  55
4   90  17
5   59  65
6   13  44
7   73  50
8   75  24
9   31  19
10  55  93

In [14]:
from sklearn.neighbors import KNeighborsClassifier

In [18]:
neighbors = KNeighborsClassifier(n_neighbors=3, p=2) #кол соседей и установка метрики евклида

In [19]:
neighbors.fit(x,y)

KNeighborsClassifier(n_neighbors=3)

In [25]:
newObject = [[34, 28]]

In [26]:
neighbors.predict(newObject)

array([0], dtype=int64)

In [27]:
neighbors.predict_proba(newObject)

array([[0.66666667, 0.33333333]])

In [28]:
neighbors.kneighbors(newObject)

(array([[ 9.48683298, 22.6715681 , 26.40075756]]),
 array([[8, 0, 5]], dtype=int64))

In [30]:
neighbors = KNeighborsClassifier(n_neighbors=3, p=1) #кол соседей и установка метрики манх кварт

In [32]:
neighbors.fit(x,y)
neighbors.predict(newObject)

array([0], dtype=int64)

In [33]:
neighbors.predict_proba(newObject)

array([[0.66666667, 0.33333333]])

In [34]:
neighbors.kneighbors(newObject)

(array([[12., 32., 37.]]), array([[8, 0, 5]], dtype=int64))